      <!-- head -->
     <%- include('partials/head.ejs'); %> 
     <!-- end head -->
      <!-- nav -->
      <%- include('partials/navbar.ejs'); %> 
      <!-- end nav -->
      <div class="relative md:ml-64 bg-blueGray-50">
        <!-- heard perfil -buscar -->
        <%- include('partials/perfilBusca.ejs'); %> 
        <!-- end heard perfil -buscar -->
        <!-- Header -->
        <div class="relative  md:pt-32  flex items-start pt-12 pb-56 m-2 overflow-hidden bg-center bg-cover min-h-50-screen rounded-xl " style="background-image: url('https://cdlima.org.pe/wp-content/uploads/2021/08/cdlima-1.png')  ">
          <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-cyan-600 opacity-60"></span>
          <div class="px-4 md:px-10 mx-auto w-full">
            <!-- cards -->
            <%- include('partials/cards.ejs'); %> 
            <!-- end cards -->
          </div>
          
        </div>
        <div class="px-4 md:px-10 mx-auto w-full -m-24">
          <!-- contenido body1 -->
          
          <!-- contenido body 2-->

          <!-- footer -->
          <%- include('partials/footer.ejs'); %> 
          <!-- end footer -->
        </div>
      </div>
<!-- control -->
<%- include('partials/control.ejs'); %> 
<!-- end control -->