     <!-- head -->
     <%- include('../partials/head.ejs'); %> 
     <!-- end head -->
     <!-- nav -->
      <%- include('../partials/navbar.ejs'); %> 
      <!-- end nav -->
      <div class="relative md:ml-64 bg-blueGray-50">
        <!-- heard perfil -buscar -->
        <%- include('../partials/perfilBusca2.ejs'); %> 
        <!-- end heard perfil -buscar -->
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Header -->
          <div class="relative  md:pt-32  flex items-start pt-12 pb-56 m-2 overflow-hidden bg-center bg-cover min-h-50-screen rounded-xl " style="background-image: url('https://cdlima.org.pe/wp-content/uploads/2021/08/cdlima-1.png')  ">
            <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-cyan-600 opacity-60"></span>
          </div>
        <div class="px-4 md:px-10 mx-auto w-full -m-60 ">
          <!-- contenido body 2-->
          <div class="flex flex-wrap mt-4">
            <div class="w-full xl:w-8/12 mx-auto mb-40  xl:mb-0 px-4 ">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-10 shadow-lg rounded">
                <div class="rounded-t mb-0 px-4 py-3 border-0">
                  <div class="flex flex-wrap items-center">
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                      <h3 class="font-semibold text-base text-blueGray-700">
                        ¿Desea agregar mas usuarios?
                      </h3>
                    </div>
                    <div
                      class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                      <a href="/pagos/add"
                        class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="button">
                        AGREAGAR
                      </a>
                    </div>
                  </div>
                </div>
             <!--  -->
                
                <div class="block w-full overflow-x-auto">

                  <!-- Projects table -->

                  
                </div>
                <div style="position: relative;" class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8 text-center">
                  <div class="align-middle rounded-tl-lg rounded-tr-lg inline-block w-full py-4 overflow-hidden bg-white shadow-lg px-12">
                      <!-- searh -->
                      <!-- component -->
                        <!-- This is an example component -->
                        <div class="max-w-2xl mx-auto">
    
                          <form>   
                                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
                                <div class="relative">
                                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                                    </div>
                                    <input type="date" id="default-search" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required>
                                    <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">filtrar</button>
                                </div>
                            </form>
    
                          <p class="mt-5">listado de todo los usuarios registrados</p>
                            
                        </div>
                      <!-- end searh -->
                  </div>
    
                  <!-- end tables -->
                  <div class="container shadow-md sm:rounded-lg">
                    <% if(data.length) { %>
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    #
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Nombre 
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    usuario
                                </th>
                                <th scope="col" class="px-6 py-3">
                                  correo Electronico
                                </th>
                                <th scope="col" class="px-6 py-3">
                                  estado
                                </th>
                                <th scope="col" class="px-6 py-3">
                                  rol
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i< data.length; i++) { %>
        
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                        <%= (i+1) %>
                                    </th>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                        <%= data[i].nombre%>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                        <%= data[i].usuario%>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                      <div class=" bg-black">
                                        <%= data[i].correo%>
                                        
                                      </div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                      <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                        <span aria-hidden class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                        <span class="relative text-xs"> <%= data[i].estado%> </span>
                                        </span>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                     <%= data[i].rol%>
                                     </td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                    </td>
                                </tr>
                            <% } %>
                     
                        </tbody>
                    </table>
                    <% } %>
                    <!-- if result is empty -->
                    <% if(!data.length) { %>
                        <p class="text-center">No hay registrados</p>
                    <% } %>
                </div>
                </div>
              </div>
            </div>

            <!-- tables -->
           
            <!-- tables list -->

            <!-- component -->

          </div>

          <!-- footer -->
          <%- include('../partials/footer.ejs'); %> 
          <!-- end footer -->
      </div>
    </div>
<!-- control -->
<%- include('../partials/control.ejs'); %> 
<!-- end control -->